@import 'meyer-reset.css';

/* PAGE STRUCTURE */
* {
    box-sizing: border-box;
}
body {
    display: block;
    background-color: rgb(55, 68, 80);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace
}
inner-column {
    display: block;
    width: 75vw;
}
section {
    display: flex;
    padding: 20px;
    justify-content: center;
    height: auto;
}
main {
    display: block;
}



/* HEADER */
header {
    display: flex;
    background-color: rgb(36, 45, 53);
    height: 20vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header h1 {
    text-align: center;
    width: 75vw;
    height: auto;
}



/* firstImage */
.vayne1 {
    display: block;
    text-align: center;
    line-height: 1.5;
}



/* PREFACE */

.preface {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.preface .calm-voice {
    width: 75vw;
}



/* whenToPick */
.list {
    text-align: left;
}
.whenToPickExplain .calm-voice-list {
    font-weight:bolder;
    text-align: center;
    font-size: larger;
    padding: 15px;
}


/* summonerSpells */
.flashFlexbox, .healFlexbox, .exhaustFlexbox, .ghostFlexbox, .cleanseFlexbox {
    min-width: auto;
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 1;
}
    

/* primaryRunes */


/* secondaryRunes */


/* Skin */


/* Items */


/* vayneMechanics */



/* TYPOGRAPHY */
header {
    font-size:48px;
    font-weight: bolder;
}
.loud-voice {
    font-size: 36px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}
.calm-voice {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    padding: 10px;
}
a {
    color: rgb(0, 102, 255);
    text-decoration: none;
}
ul.list {
    list-style-type: circle;
    line-height: 1.9;
  }


/* MEDIA */
.responsive {
    width: 65vw;
    height: auto;
}
.responsiveIcon {
    min-width: auto;
    width: 10%;
    padding: 20px;
    flex-shrink: 1 0 auto;
}
img {
    width: 100%;
    object-fit: cover;
}


/* DEVSTYLES */
inner-column {
    border: 4px solid red;
}
section {
    border: 4px solid lightcoral;
}
.flashFlexbox, .healFlexbox, .exhaustFlexbox, .ghostFlexbox, .cleanseFlexbox {
    border: 2px solid green;
}