
body {
    background-color: rgb(29, 29, 29);
}
.title {
    color: lightskyblue;
    text-align: center;
    font-size: 40px;
}
.flex-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
.flex-items {
    display:flex;
    width: 90px;
    height: 50px;
    background: blue:
    margin: 10px;
}